[user]
	name	= Jon-Michael Deldin
	email = dev@jmdeldin.com

[alias]
	ci = commit
	co = checkout
	s = status
	rhh = reset --hard HEAD
	lprune = !git branch --merged | grep -v '^.* master$' | xargs git branch -d
	rprune = fetch origin --prune
	rrprune = !git branch -r --merged | grep -v master | sed "s,origin/,," | xargs -n 1 git push --delete origin

[color]
	branch = auto
	diff = auto
	status = auto

[core]
	excludesfile = ~/.gitignore
